/Terraform/.terraform/
/Terraform/.terraform.lock.hcl
/Terraform/terraform.*
.terraform.tfstate.lock.info
/Terraform/lxc_postgres.tf.old

/k3s-ansible/

/Kubernetes/HomeLab/nexus/
/Kubernetes/HomeLab/QbitTorrent/
/Kubernetes/HomeLab/traefik-dashboard/
/Kubernetes/Totalbody/